threshold_variables:
  input_error_threshold: 1.0
  output_error_threshold: 0.5
  overrun_error_threshold: 1.0
  frame_error_threshold: 0.5
  giants_error_threshold: 0.5
  crc_error_threshold: 0.5
  runts_error_threshold: 0.5

file_variables:
  input_folder: 'Z:\show_int_raw_input\'
  input_filetype: '.log'
  output_folder: 'Z:\show_int_output\'

decimal_variables:
  dec_place: "{:.2%}"

#// Setting to 'True' will only review and ouput errors for interfaces that are 'up'. If set to 'False', all interfaces are processsed regardless of status.
interface_variables:
  int_status_up: False